/*-------------------- general --------------------*/
body {
	background-color: #fff;
}

#logo {
	margin: 15px;
	width: 280px;
}

@media (max-width: 768px) {
	.carousel-item img {
		height: 250px;
		width: 100%;
		object-fit: cover;
	}
}

h1 {
	text-align: center;	
	padding: 20px 0 10px 0;
	color: #0ABBB5;
	font-family: 'Great Vibes', cursive;
	/*text-shadow: 2px 2px #ddd;*/
}

section {
	padding: 20px 0;
	text-align: center;
}

/*-------------------- carousel --------------------*/
#carousel {
	background-color: #f6efef;
	background-image: url(../img/body-bg.png);
    background-repeat: repeat;
    background-position: top left;
    background-attachment: scroll;
}

/*-------------------- groom-and-bride --------------------*/
#groom-and-bride {
	text-align: center;
	font-family: 'Great Vibes', cursive;
}

.bridge-name, .groom-name {
	font-size: 2.5em;
	margin-top: 5px;
	color: #524d45;
}

.save-the-date img {
	padding: 0 15px;
}
.save-the-date .weeding-weekday {
	font-size: 4.5em;
	color: #0ABBB5;
	line-height: 0.8em;
    padding-top: 20px;
}

@media (max-width: 768px) {
	.save-the-date {
		margin: 10px 0;
		padding: 10px;
	}
	.save-the-date .weeding-fullday {
		font-size: 2.8em;
	}
}
@media (min-width: 768px) {
	.save-the-date .weeding-fullday {
		font-size: 2em;
	}
}
@media (min-width: 992px) {
	.save-the-date .weeding-fullday {
		font-size: 2.5em;
	}
}

.save-the-date #countdown {
	font-family: Arial;
	font-size: 1.5em;
	color: #ababab;
	padding: 10px;
}

/*-------------------- gift-list --------------------*/
#gift-list {
	background-color: #0ABBB5;
	color: #fff;
}

#gift-list h1 {
	color: #fff;
}

#gift-list img {
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	margin-bottom: 10px;
}

#gift-list img:hover {
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

/*-------------------- footer --------------------*/
#footer {
	text-align: center;
	font-family: 'Great Vibes', cursive;
	font-size: 2em;
}

#footer img {
	padding: 0 10px;
}