body {
	background-color: #0ABBB5;
	background: linear-gradient(to right bottom, #ccf3f1, #0ABBB5, #078681);
}

.content {
	position: fixed;
	margin-left: -175px;
	margin-top: -250px;
    top: 50%; 
	left: 50%;
    width: 350px;
	text-align: center;
	background-color: #fff;
	box-shadow: 2px 2px 3px rgba(0, 0, 0,.5);
	color: #555;
	padding: 1px;
}

h1 {
	font-family: 'Lobster', cursive;
	text-align: center;
	font-size: 34px;
}

#countdown {
	background-color: #ccf3f1;
	padding: 10px;
}
#fiances {
	width: 80;
	text-align: center;
	margin: 10px 0 30px 0;
}
#logo {
	padding: 20px;
}

/*animation: pulse 2s linear infinite;
-webkit-animation: pulse 2s linear infinite;
@keyframes pulse {
	0% { transform: scale(1, 1); }
	50% { transform: scale(1.5, 1.5); }
	100% { transform: scale(1, 1); };
}

@-webkit-keyframes pulse {
	0% { transform: scale(1, 1); }
	50% { transform: scale(1.5, 1.5); }
	100% { transform: scale(1, 1); };
}*/