/*-------------------- general --------------------*/
body {
	background-color: #fff;
	font-family: 'Great Vibes', cursive;
}

#logo {
	margin: 20px;
	width: 300px;
}

@media (max-width: 768px) {
	.carousel-item img {
		height: 250px;
		width: 100%;
		object-fit: cover;
	}
}

h1 {
	text-align: center;	
	padding: 20px;
	color: #0ABBB5;
	text-shadow: 2px 2px #ddd;
}

section {
	padding: 20px 0;
}

/*-------------------- groom-and-bride --------------------*/
#groom-and-bride {
	text-align: center;
}

#groom-and-bride img {
	border: 4px solid #0ABBB5;
}

.bridge-name, .groom-name {
	font-size: 2em;
	color: #0ABBB5;
}

.save-the-date {
	padding: 50px 0 30px 0;
}
.save-the-date .weeding-weekday {
	font-size: 4.6em;
	line-height: 0.6em;
	color: #F07677;
}
.save-the-date .weeding-fullday {
	font-size: 3.6em;
}
.save-the-date #countdown {
	font-family: Arial;
	font-size: 1.5em;
	color: #ababab;
}

/*-------------------- gift-list --------------------*/
#gift-list {
	background-color: #eee;
}

#gift-list img {
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	margin-bottom: 10px;
}

#gift-list img:hover {
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

/*-------------------- footer --------------------*/
section#footer {
	text-align: center;
	font-size: 1.5em;
}

section#footer img {
	width: 80px;
	padding: 0 10px;
}